@import "tailwindcss";
:root {
  --background: #d0ccff;
  --foreground: #d0ccff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #d0ccff;
  --foreground: #d0ccff;
  --primary: #6155F5;
  --primary-bold: #383286;
  --secondary: #FF7601;
  --tertiary: #ffa052;
  --extra: #E1EEBC;
  --error: #F44336;
  --success: #28a745;
  --form-background: #d0ccff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d0ccff;
    --foreground: #d0ccff;
    --primary: #6155F5;
    --primary-bold: #383286;
    --secondary: #FF7601;
    --tertiary: #ffa052;
    --extra: #E1EEBC;
    --error: #F44336;
    --success: #28a745;
    --form-background: #d0ccff;
  }
}

body {
  background: #f5f5f5 !important;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ant-input-affix-wrapper:hover{
  border: 1px solid var(--primary) !important;
}
.ant-select-selector:hover {
  border: 1px solid var(--primary) !important;
}

.primary-text{
  color: var(--primary);
}
.primary-bold-text{
  color: var(--primary-bold);
}
.primary-header-text{
  color: var(--primary-bold);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  font-size: 1.25rem;
}
.secondary-text{
  color: var(--secondary);
}
.tertiary-text{
  color: var(--tertiary);
}
.extra-text{
  color: var(--extra);
}
.error-text{
  color: var(--error);
}
.success-text{
  color: var(--success);
}

/* Ghi đè màu nền và màu chữ của primary button */
.ant-btn-primary {
  background-color: var(--primary-bold) !important;
  border-color: var(--primary-bold) !important;
  color: white !important;
  font-weight: 600 !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  font-weight: 600 !important;
}

.ant-btn-default{
  font-weight: 600 !important;
}

.ant-btn-default:hover,
.ant-btn-default:focus{
  border-color: var(--primary) !important;
  color: var(--primary) !important;
  font-weight: 600 !important;
}

.ant-checkbox-input {
  background-color: var(--primary-bold) !important;
  border-color: var(--primary) !important;
  color: white !important;
}

/* Khi checkbox được tick */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-bold) !important;
  border-color: var(--primary) !important;
}
.ant-form-item{
  margin-bottom: 8px !important;
}


